server {
    listen 6700;

    location / {
        proxy_pass http://${WEB_CLIENT_HOST}:6701/;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_read_timeout 3600;
    }

    location /api/ {
        proxy_pass http://${API_HOST}:6702/;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_read_timeout 3600;
    }
}
